body {
  background-color: $main-background;
  font-family: $inter;
  font-size: calc(0.8em + 0.8vw);
}

h1 {
  color: $secondary-color;
  font-size: calc(1.3em + 1.3vw);
  span {
    color: $primary-color;
  }
}

p {
  color: $terciary-color;
}

.attribution {
  color: $secondary-color;
  a {
    color: $primary-color;
  }
}

.container {
  background-color: $card-background;

  .features {
    font-family: $lexend-deca;

    .features-header {
      color: $secondary-color;
      font-size: calc(1.2em + 1.2vw);
      font-weight: $bold;
    }

    .features-content {
      color: $terciary-color-light;
      text-transform: uppercase;
      font-size: calc(0.7em + 0.7vw);
    }
  }
}

//media-query

@include query(lg) {
  body {
    font-size: calc(0.6em + 0.6vw);
  }

  h1 {
    font-size: calc(1.1em + 1.1vw);
  }

  .container{
    .features {
        .features-header {
          font-size: calc(0.8em + 0.8vw);
        }
    
        .features-content {
          font-size: calc(0.45em + 0.45vw);
        }
      }
  }
}
