
body{
    display: grid;
    position: relative;
    padding: 5em 0;
    grid-template-rows: 95% auto;
    justify-self: center;
    align-self: center;
    gap: 3.1em;
}

.attribution{
    text-align:center;
    justify-self: center;
    width: 85%;
}

.container{    
    justify-self: center;
    align-self: center;
 
    width: 85%;
    height: auto;
    border-radius: 1em;
    text-align: center;

    display: grid;
    grid-template-areas: "img" 
                         "content";

    grid-template-rows: 16rem 1fr;

    .img{
        grid-area: img;
        border-radius: 1em 1em 0 0;
        background: linear-gradient( #a136e45b), url('../images/image-header-mobile.jpg') no-repeat;
        background-size: 100% 100%;
    }
    .content{
        grid-area: content;
        padding: 1.5em;
    
        h1{
            margin: 0;
        }
        p{
            margin-top: 2em;
        }
        
        .features{
            margin-top: 3em;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            gap: 2em;
        }
    }
}

//Media-query

@include query(sm){
    .container{
        width: 65%;
    }
}
@include query(lg){

    body{
        padding: 0;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .attribution{
        position: absolute;
        bottom: 5%;
        justify-self: center;
    }

    .container{
        text-align: start;
        width: 80%;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

        grid-template-areas: "content img";
    
        .img{
            border-radius: 0 1em 1em 0;
            background: linear-gradient( #a136e45b), url('../images/image-header-desktop.jpg') no-repeat;
            background-size: 100% 100%;
        }
        .content{
            padding: 3em;
            margin-right: 3em;
            
            .features{
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                gap: 2em;
    
            }
        }
    
    }

}